In [ ]:
from pathlib import Path

from google.colab import drive


drive.mount('/content/drive')
BASE_DIR = Path('/content/drive/MyDrive/Cursos/Python para Processamento de Linguagem Natural (USP)/Aula 3')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Exercícios de fixação

## 1. Dado o arquivo qbdata.txt, retorne o rating de cada QB na forma “nome do QB teve valor XX.X":

In [ ]:
from pathlib import Path


with open(BASE_DIR / 'qbdata.txt', 'r') as f:
    for row in f.readlines():
        first_name, last_name, *_, rating = row.split()
        print(f'{first_name} {last_name} teve valor {rating}')

Colt McCoy teve valor 74.5
Josh Freeman teve valor 95.9
Michael Vick teve valor 100.2
Matt Schaub teve valor 92.0
Philip Rivers teve valor 101.8
Matt Hasselbeck teve valor 73.2
Jimmy Clausen teve valor 58.4
Joe Flacco teve valor 93.6
Kyle Orton teve valor 87.5
Jason Campbell teve valor 84.5
Peyton Manning teve valor 91.9
Drew Brees teve valor 90.9
Matt Ryan teve valor 91.0
Matt Cassel teve valor 93.0
Mark Sanchez teve valor 75.3
Brett Favre teve valor 69.9
David Garrard teve valor 90.8
Eli Manning teve valor 85.3
Carson Palmer teve valor 82.4
Alex Smith teve valor 82.1
Chad Henne teve valor 75.4
Tony Romo teve valor 94.9
Jay Cutler teve valor 86.3
Jon Kitna teve valor 88.9
Tom Brady teve valor 111.0
Ben Roethlisberger teve valor 97.0
Kerry Collins teve valor 82.2
Derek Anderson teve valor 65.9
Ryan Fitzpatrick teve valor 81.8
Donovan McNabb teve valor 77.1
Kevin Kolb teve valor 76.1
Aaron Rodgers teve valor 101.2
Sam Bradford teve valor 76.5
Shaun Hill teve valor 81.3

## 2. Pensando em uma agenda, construa um dicionário com informações do contato sendo: CPF, nome, telefone e user no Twitter. Ao final, imprima os dados dos contatos na forma '*CPF: nome, telefone (user)*'.

In [ ]:
# dados fakes gerados por https://www.4devs.com.br/gerador_de_pessoas
contact_book = [
    {
        'cpf': '322.586.879-50',
        'nome': 'Julia Joana Freitas',
        'telefone': '(69) 99997-0302',
        'user': 'juliajoanafreitas',
    },
    {
        'cpf': '059.407.997-79',
        'nome': 'Henry Augusto Gonçalves',
        'telefone': '(51) 2593-3138',
        'user': 'henryaugustogoncalves',
    },
]
for contact in contact_book:
    cpf, name, phone, user = contact.values()
    print(f'{cpf}: {name}, {phone} ({user})')

322.586.879-50: Julia Joana Freitas, (69) 99997-0302 (juliajoanafreitas)
059.407.997-79: Henry Augusto Gonçalves, (51) 2593-3138 (henryaugustogoncalves)

# Lista de exercícios 1

## 1. Crie  três  variáveis e  atribua  os  valores  a  seguir: a=1, b=5.9 e c=‘teste’. A partir disso, retorne o tipo de cada uma das variáveis.

In [ ]:
a, b, c = 1, 5.9, 'teste'
print(type(a), type(b), type(c))

<class 'int'> <class 'float'> <class 'str'>

## 2. Troque o valor da variável a por '1' e verifique se o tipo da variável mudou.

In [ ]:
a, b, c = '1', 5.9, 'teste'
print(type(a), type(b), type(c))

<class 'str'> <class 'float'> <class 'str'>

## 3. Faça a soma da variável b com a variável c. Interprete a saída, tanto em caso de execução correta quanto em caso de execução com erro.

In [ ]:
b, c = 5.9, 'teste'
try:
    print(b + c)
except TypeError as e:
    print(e)

unsupported operand type(s) for +: 'float' and 'str'

## 4. Crie uma lista com números de 0 a 9 (em qualquer ordem). Com ela, faça:

a. Adicione o número 6

b. Insira o número 7 na 3ª posição da lista

c. Remova o elemento 3 da lista

d. Adicione o número 4

e. Verifique o número de ocorrências do número 4 na lista

In [ ]:
numbers = [1, 4, 5, 3, 9, 2, 0, 7, 8, 6]
numbers.append(6)
print('a:', numbers)
numbers.insert(2, 7)
print('b:', numbers)
numbers.pop(3)
print('c:', numbers)
numbers.append(4)
print('d:', numbers)
print('e:', numbers.count(4))

a: [1, 4, 5, 3, 9, 2, 0, 7, 8, 6, 6]
b: [1, 4, 7, 5, 3, 9, 2, 0, 7, 8, 6, 6]
c: [1, 4, 7, 3, 9, 2, 0, 7, 8, 6, 6]
d: [1, 4, 7, 3, 9, 2, 0, 7, 8, 6, 6, 4]
e: 2

## 5. Ainda com a lista criada na questão anterior, faça:

a. Retorne os primeiros 3 elementos da lista

b. Retorne os elementos que estão da 3ª posição até a 7ª posição da lista

c. Retorne os elementos da lista de 3 em 3 elementos

d. Retorne os 3 últimos elementos da lista

e. Retorne todos os elementos menos os 4 últimos da lista

In [ ]:
print('a:', numbers[:4])
print('b:', numbers[3:8])
print('c:', numbers[::3])
print('d:', numbers[-3:])
print('d:', numbers[:-4])

a: [1, 4, 7, 3]
b: [3, 9, 2, 0, 7]
c: [1, 3, 0, 6]
d: [6, 6, 4]
d: [1, 4, 7, 3, 9, 2, 0, 7]

## 6. Com a lista das questões anteriores, retorne o 6º elemento da lista.

In [ ]:
print(numbers[5])

2

## 7. Altere o valor do 7º elemento da lista para o valor 12.

In [ ]:
numbers[6] = 12
print(numbers)

[1, 4, 7, 3, 9, 2, 12, 7, 8, 6, 6, 4]

## 8. Inverta a ordem dos elementos na lista.

In [ ]:
print(numbers[::-1])

[4, 6, 6, 8, 7, 12, 2, 9, 3, 7, 4, 1]

## 9. Ordene a lista.

In [ ]:
print(sorted(numbers))

[1, 2, 3, 4, 4, 6, 6, 7, 7, 8, 9, 12]

## 10. Crie uma tupla com números de 0 a 9 (em qualquer ordem) e tente:

a. Alterar o valor do 3º elemento da tupla para o valor 10

b. Verificar o índice (posição) do valor 5 na tupla

In [ ]:
numbers = (1, 4, 5, 3, 9, 2, 0, 7, 8, 6)
try:
    numbers[2] = 10
except TypeError as e:
    print('a:', e)

print('b:', numbers.index(5))

a: 'tuple' object does not support item assignment
b: 2

## 11. Crie um dicionário com 5 entradas e suas respectivas chaves e valores. Faça:

a) Imprima todas as chaves do dicionário

b) Imprima todos os valores do dicionário

c) Imprima todos os itens do dicionário

d) Imprima o 2º item do dicionário

e) Imprima o dicionário completo

f) Percorra o dicionário, imprimindo para cada entrada o modelo “(chave) tem 
como valor (valor)”

In [ ]:
data = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
    'e': 5
}

print('a:', data.keys())
print('b:', data.values())
print('c:', data.items())
print('d:', data['b'])
print('e:', data)

print('f:', ''.join(f'\n{k} tem como valor {v}' for k, v in data.items()))

a: dict_keys(['a', 'b', 'c', 'd', 'e'])
b: dict_values([1, 2, 3, 4, 5])
c: dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])
d: 2
e: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
f:
a tem como valor 1
b tem como valor 2
c tem como valor 3
d tem como valor 4
e tem como valor 5

## 12. Crie um arquivo e:

a) Escreva nele os números de 1 a 10:

In [ ]:
with open(BASE_DIR / 'ex12.txt', 'w') as f:
    for i in range(1, 11):
        f.write(f'{i}\n')

b) Depois de escrito, imprima na tela todos os números do arquivo:

In [ ]:
with open(BASE_DIR / 'ex12.txt', 'r') as f:
    print(f.read())

1
2
3
4
5
6
7
8
9
10

c) Escreva no arquivo os números de 11 a 20, substituindo os números que estavam antes no arquivo:

In [ ]:
with open(BASE_DIR / 'ex12.txt', 'w') as f:
    for i in range(11, 21):
        f.write(f'{i}\n')

d) Escreva no arquivo os números de 21 a 30, adicionando os números no final do arquivo (sem apagar o que já estavam lá):

In [ ]:
with open(BASE_DIR / 'ex12.txt', 'a') as f:
    print('d:')
    for i in range(21, 31):
        f.write(f'{i}\n')

d:

e) Imprima na tela todos os números do arquivo novamente (de 11 a 30):

In [ ]:
with open(BASE_DIR / 'ex12.txt', 'r') as f:
    print(f.read())

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

f) Imprima  na  tela  todos  os  números  do  arquivo  novamente,  mas  agora linha por linha:

In [ ]:
with open(BASE_DIR / 'ex12.txt', 'r') as f:
    print(''.join(row for row in f.readlines()))

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30